 .background {
     fill: #eee;
 }
 
 .MatrixSvgWrapper {
     -webkit-box-shadow: 9px 10px 5px -5px rgba(143, 140, 143, 1);
     -moz-box-shadow: 9px 10px 5px -5px rgba(143, 140, 143, 1);
     box-shadow: 9px 10px 5px -5px rgba(143, 140, 143, 1);
 }
 
 .MatrixSvg {
     border: 0px solid grey;
 }
 
 line {
     stroke: #fff;
 }
 
 text.active {
     fill: red;
 }
 
 #MatrixBackground {
     background: #e3e8ea;
     margin-top: 60px;
     margin-bottom: 60px;
     padding-top: 25px;
     padding-bottom: 25px;
 }
 
 #MatrixBackground h3 {
     color: black;
     margin-left: 15px;
 }