body {
    background-color: #444444;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#000), to(#333));
    background-image: -webkit-linear-gradient(left top, #000, #333);
    background-image: -moz-linear-gradient(left top, #000, #333);
    overflow: hidden;
}

#info {
    position: absolute;
    z-index: 10;
    left: 25px;
    top: 25px;
}

#defs {
    height: 0;
    width: 0;
}

.frame {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #6CCC00;
    stroke: #fff;
    stroke-width: .5px;
}

.globe {
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}

.star {
    fill: #b7b247;
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}

.planet {
    fill: #24719c;
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}

.bigStar {
    fill: #e02416;
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}


/**Separation***/

.water {
    fill: #00248F;
}

.land {
    fill: #107910;
    stroke: grey;
    stroke-width: 0.7px;
}

.land:hover {
    fill: #F14E2B;
    stroke-width: 1px;
}

.focused {
    fill: white !important;
    stroke-width: 1px;
}

#countryList {
    position: absolute;
    top: 20px;
    left: 580px;
    border: solid #ccc 1px;
    padding: 3px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    display: none;
}

#marvelList {
    border: solid #ccc 1px;
    padding: 3px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
}

.HeaderMarvel {
    background: #dad7d7;
}

.Tooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 12px;
    font-family: sans-serif;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

.Tooltip >.ToolTipText {
    color: brown;
}